* {
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    background-color: rgb(37, 37, 37);
    color: rgb(209, 209, 209);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
